<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">




  <title>Savoure</title>
  <link href="/styles/home.css" rel="stylesheet"/>
</head>


<body>

  <div class="container">
    <section id="header">
      <div class="navbar">
        <div class="logo" style="display: inline-block";><a href="#">savouré</a></div>
        <div class="search"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/xfftupfv.json"
              trigger="hover"
              style="width:20px;height:20px;margin-top: 4px;margin-left: 7px;">
          </lord-icon><input type="text" placeholder="Search.."></div>
        <div class="navigation">
          <nav>
            <ul class="nav-links">
              <li><a href="/create"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/gigfpovs.json"
                    trigger="hover"
                    style="width:32px;height:32px">
                </lord-icon></a></li>
              <li><a href="/login"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/wfadduyp.json"
                    trigger="hover"
                    style="width:32px;height:32px">
                </lord-icon></a></li>
                
            </ul>
          </nav>
        </div>
        
      </div>
    </section>

    <section id="hero">
      <div class="hero-banner">
        <img src="\images\hero banner.jpg">
      </div>
    </section>



    


    <section id="body">

      <h1 class="explore-title">Explore Recipies</h1>
      <h3 class="explore-sub">get into the world of delicious savouries from across the globe</h3>

      
      <div class="grid-container">
       
        
         
        

          <a href="/page/recipe-page.html">
          
            <div class="grid-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="\images\donut.jpg" alt="Avatar" style="width:300px;height:300px;display: inline-block;">
              </div>
              <div class="flip-card-back">
                <h1>Sugar Donuts</h1>
                <br>
                <p>Donuts are circle shaped baked sugar dough which are baked at high temperature to achieve the fulffiness giving it the soft texture </p>
                
                
              </div>
            </div>
          </div>
          </div>
          </a>

          <a href="/page/recipe-page1.html">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="\images\bagel.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Bagel</h1>
                  <p></p>
                  <p> Doughnut-shaped yeast-leavened roll that is characterized by a crisp, shiny crust and a dense interior</p>
                </div>
              </div>
            </div>
          </div>
        </a>
          
          <a href="/page/recipe-page2.html">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="\images\bolganesh.jpeg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Bolganesh</h1>
                  <p></p>
                  <p>Doughnut-shaped yeast-leavened roll that is characterized by a crisp, shiny crust and a dense interior</p>
                </div>
              </div>
            </div>
          </div>
        </a>

          <a href="/page/recipe-page3.html">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="\images\crossanit.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Croissant</h1>
                  <p></p>
                  <p>A flaky crescent-shaped bread roll made of a yeast dough similar to puff pastry</p>
                </div>
              </div>
            </div>
          </div>
        </a>

        

        <a href="/page/recipe-page4.html">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="\images\falafel.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Falafel Roll</h1>
                  <p></p>
                  <p>Roll is stuffed with crispy falafel along with lettuce, avocados, red onions topped off with creamy garlic mayonnaise </p>
                </div>
              </div>
            </div>
          </div>
        </a>

        <a href="/page/recipe-page5.html">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="\images\hotdog.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Hotdog</h1>
                  <p></p>
                  <p>Food consisting of a grilled or steamed sausage served in the slit of a partially sliced bun</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        

        <a href="/page/recipe-page7.html">
        
          <div class="grid-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="\images\pancake.jpg" alt="Avatar" style="width:300px;height:300px;display: inline-block;">
            </div>
            <div class="flip-card-back">
              <h1>Pan cake</h1>
              <br>
              <p>A pancake is a flat cake, often thin and round, prepared from a starch-based batter that may contain eggs, milk and butter and cooked on a hot surface such as a griddle or frying pan, often frying with oil or butter.  </p>
              
            
            </div>
          </div>
        </div>
        </div>
        </a>

        <a href="/page/recipe-page6.html">
        <div class="grid-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="\images\rajkachori.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Raj Kachori</h1>
                <p></p>
                <p>Rispy deep fried kachori filled with potatoes, moong dal, yogurt, spices and chutneys! Topped with cilantro, sev, pomegranate this is the ultimate indulgence!</p>
              </div>
            </div>
          </div>
        </div>
      </a>
        
        <a href="/page/recipe-page8.html">
        <div class="grid-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="\images\paneer chilly.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Paneer Chilly</h1>
                <p></p>
                <p>Chilli Paneer is an Indo-Chinese appetizer where crisp batter fried paneer is tossed in slightly sweet, spicy, hot and tangy chilli sauce</p>
              </div>
            </div>
          </div>
        </div>
      </a>

        <a href="/page/recipe-page9.html">
        <div class="grid-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="\images\karela fry.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Karela Fry</h1>
                <p></p>
                <p> Bitter Gourd Fry is a quick and easy Indian recipe of sautéed, spiced, tangy and crispy bitter gourd slices</p>
              </div>
            </div>
          </div>
        </div>
      </a>

      

      <a href="/page/recipe-page11.html">
        <div class="grid-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="\images\chicken biryani.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Chicken Biryani</h1>
                <p></p>
                <p>Rice is made with Indian spices, rice, and usually some type of meat, or in some cases without any meat, and sometimes, in addition, eggs and potatoes.</p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="/page/recipe-page10.html">
        <div class="grid-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="\images\mutton roganjosh.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Mutton Roganjosh</h1>
                <p></p>
                <p>Rogan Josh, a classic comfort food from the Kashmiri Cuisine is a slow cooked dish made with lamb, spices, herbs and yogurt.</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    
    
        
      </div>  
      <a href="/page/recipe-page.html">
      <div class="blogs">
        <h1 class="explore-title">News and Trends</h1>
        <h3 class="explore-sub">explore the latest trending recipes from around the world</h3>
        <div class="letters">
          <div class="card">
            <img src="\images\kevin-mccutcheon-APDMfLHZiRA-unsplash.jpg" class="blog-cover">
            <div class="info-section">
            <h3>taking in carbs can benifit your heart</h3><br>
            <p>Abi Balingit on Cheetos, Filipino Spaghetti, and the One Cookie You Need To Make From Her New Cookbook</p>
            </div>
          </div>
        </a>

        <a href="/page/recipe-page.html">
          <div class="card">
            <img src="\images\donkey2.jpg" class="blog-cover">
            <div class="info-section">
            <h3>taking in carbs can benifit your heart</h3><br>
            <p>Abi Balingit on Cheetos, Filipino Spaghetti, and the One Cookie You Need To Make From Her New Cookbook</p>
            </div>
          </div>
          </a>

          <a href="/page/recipe-page.html">
            <div class="card">
              <img src="\images\cook.jpg" class="blog-cover">
              <div class="info-section">
              <h3>taking in carbs can benifit your heart</h3><br>
              <p>Abi Balingit on Cheetos, Filipino Spaghetti, and the One Cookie You Need To Make From Her New Cookbook</p>
              </div>
            </div>
          </a>
            
        </div>
      
    
    


      <div class="card-wth">
      <div class="title">
        <h1>The savouré team</h1><br>
        <p>savouré is a trusted resource for and from home cooks with more than 3,000 tested recipes, guides, and meal plans, drawing over 15 million readers each month from around the world. We’re supported by a group of recipe developers, food writers, recipe and product testers, photographers, and other creative professionals.</p>
        <div class="profiles">
          <div class="grid-container">
            <div class="grid-item">
        <img class="avtprof" src="\images\chef.png" alt="Avatar" class="avatar">
        <h5>KAUSHAL G</h5>
        </div>
        <div class="grid-item">
          <img class="avtprof" src="\images\raman.jpeg" alt="Avatar" class="avatar">
          <h5>VISHWAJEET TIWARI</h5>
          </div>
          <div class="grid-item">
        <img class="avtprof" src="\images\pranjal.jpg" alt="Avatar" class="avatar">
        <h5>PRANJAL SINGH</h5>
        </div>
      </div>
      </div>
    </div>
      </div>
    </div>
    </section>
  </div>
  <script>
    function newcard(){
      $('#wrapper').append('<div><a href="/page/recipe-page5.html"><div class="grid-item"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front"><img src="\images\hotdog.jpg" alt="Avatar" style="width:300px;height:300px;"></div><div class="flip-card-back"><h1>Hotdog</h1><p></p><p>Food consisting of a grilled or steamed sausage served in the slit of a partially sliced bun</p></div></div></div></div></a><div>')
    }
      
  </script>
 
</body>
</html>